
* {
    background-color: rgb(244, 198, 198);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
    font-size: 40px;
}

h2 {
    color: green;
    font-size: 34px;
}

h3 {
    color: orange;
    font-size: 30px;
}

ul.main {
    color: aqua;
    font-size: 30px;
}

ul.ing {
    color: black ;
}

ol.steps {
    color: black;
}