
* {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    color: rgb(243, 221, 151);
    font-size: 34px;
}

h3 {
    color: rgb(122, 240, 104);
    font-size: 30px;
}

ul.main {
    color: aqua;
    font-size: 30px;
}

ul.ing {
    color: black ;
}

ol.steps {
    color: black;
}